@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

:root {
  --primary: #66fcf1;
  --primary2: #45a29e;
  --dark: #0b0c10;
  --dark2: #1f2833;
  --light: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark2);
}
