@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

:root {
  --primary: #66fcf1;
  --primary2: #45a29e;
  --dark: #0b0c10;
  --dark2: #1f2833;
  --light: #c5c6c7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--dark2);
}

nav {
  width: 200px;
  height: 100vh;
  background-color: var(--dark);
  position: relative;
  /* transform: translateX(-150px); */
}

nav .content {
  display: none;
}

.profile {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.burger {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.burger > * {
  width: 20px;
  height: 3px;
  margin: 3px 0;
  background-color: var(--primary);
}

.burger:hover > * {
  background-color: var(--primary2);
}

.burger-active > .line1 {
  transform: rotate(45deg);
}

.burger-active > .line2 {
  opacity: 0;
}

.burger-active > .line3 {
  transform: rotate(-45deg);
}
